<div class="colorlib-classes" id="box">
  <div class="container">
    <div class="jumbotron text-center">
      <h1 id="home-heading"><%= t".heading" %></h1>
      <%= link_to t(".btn_login"), new_user_session_path, class: "btn btn-danger" %>
    </div>
  </div>
</div>
