<tr>
  <td></td>
  <td>
    <%= user.name %>
  </td>
  <td class="w-25">
    <%= link_to t(".remove"), supervisor_member_path(find_member(user, @course)),
      method: :delete, data: {confirm: t(".confirm")}, class: "btn btn-danger btn-danger btn-sm" %>
  </td>
</tr>
