<div class="colorlib-classes">
  <div class="container">
    <div class="row">
      <div class="col-md-12 colorlib-heading center-heading text-center animate-box">
        <h2><%= t ".my_course" %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 animate-box">
        <div class="classes event-entry">
          <div class="desc">
            <p class="meta"><span class="day">01-10</span><span class="month">Jun</span></p>
            <h2><a href="#">Developing Mobile Apps Using Ruby on Rails</a></h2>
          </div>
          <div class="location">
            <span class="icon"><i class="icon-map"></i></span>
            <p>progress information</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 animate-box">
        <div class="classes event-entry">
          <div class="desc">
            <p class="meta"><span class="day">01-10</span><span class="month">Jun</span></p>
            <h2><a href="#">Developing Mobile Apps Using Ruby on Rails</a></h2>
          </div>
          <div class="location">
            <span class="icon"><i class="icon-map"></i></span>
            <p>progress information</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 animate-box">
        <div class="classes event-entry">
          <div class="desc">
            <p class="meta"><span class="day">01-10</span><span class="month">Jun</span></p>
            <h2><a href="#">Developing Mobile Apps Using Ruby on Rails</a></h2>
          </div>
          <div class="location">
            <span class="icon"><i class="icon-map"></i></span>
            <p>progress information</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 animate-box">
        <div class="classes event-entry">
          <div class="desc">
            <p class="meta"><span class="day">01-10</span><span class="month">Jun</span></p>
            <h2><a href="#">Developing Mobile Apps Using Ruby on Rails</a></h2>
          </div>
          <div class="location">
            <span class="icon"><i class="icon-map"></i></span>
            <p>progress information</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 animate-box">
        <div class="classes event-entry">
          <div class="desc">
            <p class="meta"><span class="day">01-10</span><span class="month">Jun</span></p>
            <h2><a href="#">Developing Mobile Apps Using Ruby on Rails</a></h2>
          </div>
          <div class="location">
            <span class="icon"><i class="icon-map"></i></span>
            <p>progress information</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 animate-box">
        <div class="classes event-entry">
          <div class="desc">
            <p class="meta"><span class="day">01-10</span><span class="month">Jun</span></p>
            <h2><a href="#">Developing Mobile Apps Using Ruby on Rails</a></h2>
          </div>
          <div class="location">
            <span class="icon"><i class="icon-map"></i></span>
            <p>progress information</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>
