<div class="colorlib-about" id="box">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Course's name</h3>
        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper.
         Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus
         nisi a euismod. Etiam scelerisque eu enim et vestibulum. Mauris finibus,
         eros a faucibus varius, dui risus mattis massa, sed lobortis ante ante eget justo.
         Nam eu dolor lorem. Praesent blandit leo sit amet velit accumsan ultrices. Vestibulum
         nec libero vel sapien dictum euismod eu ac justo.</p>
      </div>
      <div class="col-md-6">
        <div class="fancy-collapse-panel">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Subject 1
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper.
                    Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus
                    nisi a euismod. Etiam scelerisque eu enim et vestibulum. Mauris finibus,
                    eros a faucibus varius, dui risus mattis massa, sed lobortis ante ante eget justo.
                    Nam eu dolor lorem. Praesent blandit leo sit amet velit accumsan ultrices. Vestibulum
                    nec libero vel sapien dictum euismod eu ac justo.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Subject 2
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper.
                    Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus
                    nisi a euismod. Etiam scelerisque eu enim et vestibulum. Mauris finibus,
                    eros a faucibus varius, dui risus mattis massa, sed lobortis ante ante eget justo.
                    Nam eu dolor lorem. Praesent blandit leo sit amet velit accumsan ultrices. Vestibulum
                    nec libero vel sapien dictum euismod eu ac justo.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Subject 3
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper.
                    Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus
                    nisi a euismod. Etiam scelerisque eu enim et vestibulum. Mauris finibus,
                    eros a faucibus varius, dui risus mattis massa, sed lobortis ante ante eget justo.
                    Nam eu dolor lorem. Praesent blandit leo sit amet velit accumsan ultrices. Vestibulum
                    nec libero vel sapien dictum euismod eu ac justo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
